---
import InsidersSoftware from "@/assets/icons/companies/insiderssoftware.jpg";
import NextOneTechnologies from "@/assets/icons/companies/nextone_technologies.jpg";
import Rechron from "@/assets/icons/companies/rechron.png";
import Section from "@/components/Section.astro";
import Timeline from "@/components/Timeline.astro";
import type { TimelineItem } from "@/lib/types";

const experience: TimelineItem[] = [
    {
        title: "Rechron",
        subtitle: "Full-Stack Developer",
        date: "August 2025 - September 2025",
        description:
            "As a full-stack developer, I developed a web application with ~150 monthly users. I was responsible for developing the app from the ground up, including its architecture and development with React.",
        logo: Rechron,
        link: "https://rechron.app/",
    },
    {
        title: "Insiders",
        subtitle: "Junior Full-Stack Developer",
        date: "June 2024 - September 2024",
        description:
            "I worked full-time as a full-stack developer, where I worked on the development of an internal dashboard for a flower shop with Next.js, TailwindCSS, and integrating data retrieved from WordPress.",
        logo: InsidersSoftware,
        link: "https://www.linkedin.com/company/insiderssoftware",
    },
    {
        title: "NextOne Technologies",
        subtitle: "Junior Full-Stack Developer",
        date: "September 2023 - March 2024",
        description:
            "I worked full-time as a full-stack developer, where I worked on: on a food delivery service frontend (React.js, MUI) and backend (Node.js, Nest.js), implementing the order page UI and form, and order placement service; a crypto-trading platform frontend (React.js, SCSS), business-logic backend (Java Spring Boot), and intermediate backend (Node.js, auth, DB) with MySQL database, implementing UI for welcome screen, auth forms, KYC, and integrating support chat; and a banking union website front-end with React, Redux Toolkit, and MUI, by implementing action pages and integrating APIs from a legacy system (Visual Basic backend) to improve user experience and accessibility",
        logo: NextOneTechnologies,
        link: "https://www.linkedin.com/company/nextonetechnologies",
    },
];
---

<Section title="Experience" id="experience">
    <Timeline items={experience} />
</Section>
