---
import type { Group } from "@/lib/types";
import GroupItem from "./GroupItem.astro";
import Pagination from "./Pagination.astro";

interface Props {
    groups: Group[];
    currentPage: number;
    totalPages: number;
    paginationNumbers: number[];
}

const { groups, currentPage, totalPages, paginationNumbers } = Astro.props;
---

<section class="flex flex-col gap-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {groups.map((group) => <GroupItem group={group} />)}
    </div>
    <Pagination currentPage={currentPage} totalPages={totalPages} paginationNumbers={paginationNumbers} baseUrl="/?view=groups&page=" />
</section>
