---
import { Masonry } from "astro-masonry";
import type { CloudinaryImage } from "@/lib/types";
import ImageItem from "./ImageItem.astro";

interface Props {
    images: CloudinaryImage[];
}

const { images } = Astro.props;
---

<Masonry breakpointCols={{ default: 3, 1024: 2, 768: 1 }} class="flex gap-4">
    {images.map((img) => (
        <div class="mb-4 break-inside-avoid">
            <ImageItem image={img} />
        </div>
    ))}
</Masonry>
