---
import NextOneTechnologies from "@/assets/icons/companies/nextone_technologies.jpg";
import Rechron from "@/assets/icons/companies/rechron.png";
import Section from "@/components/Section.astro";
import Timeline from "@/components/Timeline.astro";
import type { TimelineItem } from "@/lib/types";

const experience: TimelineItem[] = [
    {
        title: "Rechron",
        subtitle: "Full-Stack Developer",
        date: "August, 2025 - September, 2025",
        description:
            "As a full-stack developer, I developed a web application with ~150 monthly users. I was responsible for developing the app from the ground up, including its architecture and development with React.",
        logo: Rechron,
        link: "https://rechron.app/",
    },
    {
        title: "NextOne Technologies",
        subtitle: "Junior Full-Stack Developer",
        date: "September, 2023 - March, 2024",
        description:
            "At this job, I worked as a full-stack developer. It was a full-time job and I have worked on two projects.",
        logo: NextOneTechnologies,
        link: "https://www.linkedin.com/company/nextonetechnologies",
    },
];
---

<Section title="Experience" id="experience">
    <Timeline items={experience} />
</Section>
