---
import { ClientRouter } from "astro:transitions";
import Header from "@/components/Header/Header";
import Footer from "@/components/Sections/Footer.astro";
import "@fontsource-variable/montserrat";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Kyrylo Tymchyshyn | Gallery</title>
        <script is:inline>
            const getThemePreference = () => {
                if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
                    return localStorage.getItem("theme");
                }
                return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            };
            
            const isDark = getThemePreference() === "dark";
            document.documentElement.classList[isDark ? "add" : "remove"]("dark");

            if (typeof localStorage !== "undefined") {
                const observer = new MutationObserver(() => {
                    const isCurrentlyDark = document.documentElement.classList.contains("dark");
                    localStorage.setItem("theme", isCurrentlyDark ? "dark" : "light");
                });
                observer.observe(document.documentElement, { attributes: true, attributeFilter: ["class"] });
            }

            document.addEventListener('astro:before-swap', (ev) => {
                const isDark = document.documentElement.classList.contains('dark');
                
                if (isDark) {
                    ev.newDocument.documentElement.classList.add('dark');
                } else {
                    ev.newDocument.documentElement.classList.remove('dark');
                }
            });
        </script>
        <ClientRouter />
    </head>
    <body class="bg-background text-foreground" transition:animate="none">
        <Header client:load />
        <main class="flex flex-col max-w-7xl mx-auto px-5 sm:px-10 pt-12 pb-24 md:pt-24 md:pb-8 gap-18 sm:gap-24">
            <slot />
            <Footer />
        </main>
    </body>
</html>
