---
import HeaderLink from "./HeaderLink";
import ThemeToggle from "./ThemeToggle";

const navItems = [
    {
        name: "Home",
        href: "#hero",
        icon: "Home",
    },
    {
        name: "About",
        href: "#about",
        icon: "User",
    },
    {
        name: "Skills",
        href: "#skills",
        icon: "Code",
    },
    {
        name: "Experience",
        href: "#experience",
        icon: "Briefcase",
    },
    {
        name: "Education",
        href: "#education",
        icon: "GraduationCap",
    },
    {
        name: "Projects",
        href: "#projects",
        icon: "FolderGit",
    },
];
---

<header
    class="fixed z-50 p-1.5 bg-background/80 dark:bg-card backdrop-blur-md border border-border shadow-lg rounded-lg flex gap-2 bottom-6 left-1/2 -translate-x-1/2 flex-row md:right-6 md:top-1/2 md:-translate-y-1/2 md:flex-col md:bottom-auto md:left-auto md:translate-x-0"
>
    <nav class="flex md:flex-col gap-2">
        {navItems.map((item) => <HeaderLink item={item} client:load />)}
        <div class="w-px h-6 bg-border md:w-6 md:h-px mx-auto my-auto"></div>
        <ThemeToggle client:load />
    </nav>
</header>

<script>
    const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    const id = entry.target.getAttribute("id");
                    document.querySelectorAll("nav a").forEach((link) => {
                        link.classList.remove(
                            "bg-sky-800",
                            "dark:bg-primary",
                            "text-primary-foreground",
                            "hover:bg-sky-800",
                            "dark:hover:bg-primary"
                        );
                        link.classList.add("text-muted-foreground", "hover:bg-muted", "hover:text-foreground");

                        if (link.getAttribute("href") === `#${id}`) {
                            link.classList.remove("text-muted-foreground", "hover:bg-muted", "hover:text-foreground");
                            link.classList.add(
                                "bg-sky-800",
                                "dark:bg-primary",
                                "text-primary-foreground",
                                "hover:bg-sky-800",
                                "dark:hover:bg-primary"
                            );
                        }
                    });
                }
            });
        },
        {
            rootMargin: "-100px 0px -60% 0px"
        }
    );

    document.querySelectorAll("section[id]").forEach((section) => observer.observe(section));
</script>
