---
import { Image } from "astro:assets";
import { buttonVariants } from "@/components/ui/Button";
import type { Skill } from "@/lib/types";
import { cn } from "@/lib/utils";

interface Props {
    skill: Skill;
}

const {
    skill: { name, icon, link },
} = Astro.props;
---

<a
    href={link} target="_blank" rel="noopener noreferrer" aria-label={name}
    class={cn(buttonVariants({ variant: "outline", size: "icon-lg" }), "p-2.5 size-auto dark:bg-zinc-200 dark:hover:bg-zinc-50")}
>
    <Image src={icon} alt={`${name} Logo`} class="size-12" />
</a>