<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kyrylo Tymchyshyn | Personal Portfolio</title>
	</head>
	<body class="flex flex-col max-w-7xl mx-auto px-5 sm:px-10 py-12 md:py-24 gap-18 sm:gap-24">
		<slot />
	</body>
</html>