---
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kyrylo Tymchyshyn | Personal Portfolio</title>
	</head>
	<body class="bg-background text-foreground">
        <Header />
        <main class="flex flex-col max-w-7xl mx-auto px-5 sm:px-10 pt-12 pb-24 md:pt-24 md:pb-8 gap-18 sm:gap-24">
		    <slot />
        </main>
	</body>
</html>
